<div class="outer pt-5">
  <div class="title d-flex justify-content-center text-white poppins-regular px-3 py-2">
    <div class="name belanosima-semibold mx-3 py-1 px-5">Projects</div>
    <div class="flex-grow-1 d-none d-sm-flex align-items-center">
      <div class="flex-grow-1 line"></div>
      <div class="ms-2">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-11 col-sm-10 col-md-8 col-lg-5" *ngFor="let project of projects;">
        <project  [project]="project"></project>
      </div>
    </div>
  </div>
</div>
