<div class="outer d-flex justify-content-start align-items-center">
  <div [@fadeIn] *ngIf="isVisible" class="container-fluid my-auto text-center">
    <div class="row justify-content-evenly align-items-center">
      <div class="profile-outer col-md-4 col col-10 m-3 ">
        <div class="profile-pic m-auto">
          <div class="profile-pic-content">
            <img src="profile-3.png" class="object-fit-fill border rounded border-0" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-7 col-10 m-auto intro-content p-4 text-start">
        <div class="greeting poppins-regular h4">
          Hi, Welcome
        </div>
        <div class="name poppins-regular">
          <span>LITHIRA </span>
          <span>AMARASINGHE</span>
        </div>
        <div class="roles my-2 d-flex align-items-center poppins-regular">
          <p class="static-txt">I'm a&nbsp;</p>
          <div class="d-flex justify-content-center dynamic-txt-outer">
            <ul class="dynamic-txt">
              <li>Developer</li>
              <li>Freelancer</li>
            </ul>
          </div>
        </div>

        <div class="content poppins-regular">
          I'm a software developer with 3 years of experience in web and mobile app development. As a freelancer, I
          create efficient, scalable, and user-friendly solutions. Passionate about problem-solving, I turn ideas into
          high-quality digital products.
        </div>
        <div class="contact d-flex justify-content-center flex-wrap align-items-center mt-3">
          <mod-button class="mx-3 my-3"><a href="#contact">Contact Me</a></mod-button>
          <mod-button class="mx-3 my-3" (click)="navigateTo('https://www.linkedin.com/in/lithira-amarasinghe')">
            <i class="fa-brands fa-linkedin"></i></mod-button>
          <mod-button (click)="navigateTo('https://www.facebook.com/lithiraamarasinghe')" class="mx-3 my-3"><i
            class="fa-brands fa-facebook"></i></mod-button>
          <mod-button (click)="navigateTo('https://www.facebook.com/lithiraamarasinghe')" class="mx-3 my-3"><i
            class="fa-brands fa-instagram"></i></mod-button>
          <mod-button (click)="downloadCV()" class="mx-3 my-3">Download CV</mod-button>
        </div>

      </div>
    </div>
  </div>
</div>
<ngx-particles *ngIf="isBrowser" class="particles" [id]="id" [options]="particlesOptions"
               (particlesLoaded)="particlesLoaded($event)"></ngx-particles>

