<div class="p-1 bg-info bg-opacity-10 border border-info border-end-0 m-0 rounded-start
            d-flex flex-column position-fixed z-3 floating-contacts">
  <button (click)="navigateTo('https://www.linkedin.com/in/lithira-amarasinghe')" class="border text-light m-1">
    <i class="fa-brands fa-linkedin"></i>
  </button>
  <button (click)="navigateTo('https://www.facebook.com/lithiraamarasinghe')" class="border text-light m-1"><i class="fa-brands fa-facebook"></i></button>
  <button href="" class="border text-light m-1"><i class="fa-brands fa-instagram"></i></button>
</div>
