.outer{
  background-color: rgba(189, 116, 116, 0.32);
  height: 40px;
  z-index: 20;
}
.navbar{
  background-color: rgba(162, 196, 229, 0.8) !important ;
  backdrop-filter: opacity(20%);
  opacity: 1;
}

.navbar-brand, .navbar-collapse{
}
.navbar-brand{
  word-wrap: break-word;
}
.nav-link{
  transition-duration: 300ms;
  font-size: 12pt;
  padding: 10px 30px;
  border-radius: 50px;
  border: 0!important;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 40px;
  max-width: 150px;
  background-color: rgba(236, 236, 236, 0.27);
  color: #140431;
}

.nav-link::after {
  content: '';
  width: calc(100% + 5px); /* Increase width further on hover */
  height: calc(100% + 5px); /* Slightly increase height */
  border-radius: 50px;
  position: absolute;
  background-color: transparent;
  background-image: linear-gradient(to bottom right, #052F52, #52043E);
  z-index:-1;
  transition-duration: 500ms;
}

.nav-link:hover{
  color: white;
  background-image: linear-gradient(to bottom right, #052F52, #52043E);
}
