.outer{
  background-color: #afafaf;
  height: 40px;
  position: fixed;
  width: 100vw;
}
.navbar{
  position: fixed;
  width: 100vw;
  background-image: linear-gradient(to bottom right, #a3b5de, #ecd9dc);
}

.nav-link{
  /*color: white;*/
  transition-duration: 300ms;
}
.nav-link:hover{
  color: white;
  background-color: #073c60;
}
