.outer {
  position: relative;
  z-index: 1;
  border-radius: 5px;
  background-color: rgba(175, 175, 175, 0.46);
  transition-duration: 500ms;
}
.outer:hover{
  transform: scale(1.05);
}
.outer img{
  width: 100%;
}

.title{
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 15pt;
  font-style: normal;
}

.tst{
  width: fit-content;
}
