.outer{
  /*background-color: rgb(208, 208, 208) !important;*/
}
.project-img{
  /*width: 50%;*/
  max-height: 400px!important;
  max-width: 100%;
  margin: auto!important;
}
.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: #c73f3f!important;
}
